<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidHMS"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".customer.CustomerLoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".reception.appointment.AppointmentActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".reception.search.SearchActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".reception.ReceptionActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- 메인액티비티 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 고객 페이지 -->
        <activity
            android:name=".customer.info.acceptance.AcceptanceRecordActivity"
            android:exported="false" />
        <activity
            android:name=".customer.info.reservation.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".customer.info.medical.MedicalRecordActivity"
            android:exported="false" />
        <activity
            android:name=".customer.info.card.CardActivity"
            android:exported="false" />
        <activity
            android:name=".customer.info.myinfo.MyinfoActivity"
            android:exported="false" />
        <activity
            android:name=".customer.reservation.ReservationActivity"
            android:exported="false" />
        <activity
            android:name=".customer.CustomerActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".customer.join.JoinActivity"
            android:exported="false" />
        <activity
            android:name=".customer.ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".customer.info.timetable.TimeTableActivity"
            android:exported="false" /> <!-- 직원 페이지 -->
        <activity
            android:name=".staff.schedule.ScheduleActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".staff.ward.DoctorWardActivity"
            android:exported="false" />
        <activity
            android:name=".staff.outpatient.OutpatientActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".staff.ward.NurseWardActivity"
            android:exported="false" />
        <activity
            android:name=".staff.messenger.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".staff.messenger.MessengerActivity"
            android:exported="false" />
        <activity
            android:name=".staff.StaffActivity"
            android:exported="false" />
        <activity
            android:name=".staff.StaffLoginActivity"
            android:exported="false" />
        <activity
            android:name=".staff.lookup.LookupActivity"
            android:exported="false" /> <!-- 원무과 페이지 -->
        <activity
            android:name=".reception.home.VolunteerActivity"
            android:exported="false" />
        <activity
            android:name=".reception.home.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".reception.home.NewsActivity"
            android:exported="false" />
        <activity
            android:name=".reception.home.ReceptionHomeFragment"
            android:exported="false" />
        <activity
            android:name=".reception.ReceptionLoginActivity"
            android:exported="false" />
    </application>

</manifest>